Foo:
{{this.foo.id}}
-
{{this.foo.name}}

<ul>
  {{#each this.filteredFoos as |foo|}}
    <li>{{foo.id}} - {{foo.name}}</li>
  {{/each}}
</ul>

<br />

<button type='button' {{on 'click' this.destroyFoo}}>
  Destroy foo
</button>